body {background: #c60d0d;margin: 0;padding: 1em;}
.win {
	font: normal 100px/1.5rem Impact,Charcoal, sans-serif;
	display: inline-block;
	vertical-align: top;
	line-height: .7;
	letter-spacing: -.04em;
	color: #ffe14d;
	text-shadow: 1px 1px #900,-1px -1px #900,-1px 1px #900,1px -1px #900,
	0 1px #900,1px 0 #900,-1px 0 #900,0 -1px #900;
}
#winfont {
	background: #c60d0d;
	text-align: center;
	padding: .5rem 0 40vh;
	margin: auto;
	box-shadow: 0 0 0 1px #900, 0 0 0 15px #ffe14d, 0 0 0 16px #900;
}
::selection{color: inherit;background: hsla(0,100%,25%,.5);}
::-moz-selection{color:inherit;background:hsla(0,0%,0%,.15)}